<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AS_Autodoc.Properties.Settings.Auto_parts_shopConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Auto_parts_shop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>